body {
    text-align: center;
}

#our {
    font-family: 'Open Sans', sans-serif;
    font-size: 6em;
    top: 0;
    left: 40%;
    position: absolute;
}

#notour {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 6em;
    top: 0;
    right: 40%;
}

.tochka {
    font-family: 'Open Sans', sans-serif;
    font-size: 6em;
}

#pong {
    background-image: url(images/воллейбол.png);
    background-size: cover;
    width: 1110px;
    height: 672px;
    margin: 0 auto;
    position: relative;
}

.player-padel {
    height: 100%;
    width: 100%;
}

.ai-padel {
    height: 100%;
    width: 100%;
}

#ai-padel {
    right: 0;
}

.ball {
    width: 100%;
    height: 100%;
    left: 460px;
    top: 140px;
}

#ball {
    background-color: #ffffb9;
    width: 4.1%;
    height: 7%;
    left: 460px;
    top: 140px;
    border-radius: 50%;
    position: absolute;
}

.fizlico {
    position: absolute;
    height: 42%;
    left: 0;
    bottom: 0;
}

.fizobl {
    position: absolute;
    left: 26%;
    bottom: 16%;
}

.fvoblake {
    position: absolute;
    left: 29.8%;
    bottom: 29.3%;
    font-size: 18px;
    line-height: 0.1em;
    font-family: 'Open Sans', sans-serif;
}

.padel {
    height: 22%;
    width: 10.5%;
    position: absolute;
}

#start {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-top: 10px;
    top: 33%;
    right: 33%;
    background-color: #f1e74b;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 37%;
    height: 12.1%;
}

#start:hover {
    background-color: #ffde03;
    color: white;
}